doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/board.css')
        link(rel='stylesheet', href='/stylesheets/header.css')
        link(rel='stylesheet', href='/stylesheets/footer.css')
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css")
        link(href="https://fonts.googleapis.com/css?family=Noto+Sans|Ubuntu" rel="stylesheet")
        script(type="text/javascript" src="../../scripts/isLoggedIn.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(type="text/javascript" src="../../scripts/pagination.js")
    body
        block header
            .wrapper-header
                .header
                    a.home(href="/") Home
                    a.about(href="#") About
                    if isNotSignedIn
                        .auth#isNotloggedin
                            a(href="/auth/signin") Sign-In
                            a(href="/auth/signup") Sign-Up
                    if isSignedIn
                        .auth#loggedin
                            label #{username}님 환영합니다.
                            a(href="/mypage") My Page
                            a(href="http://computer.cnu.ac.kr/" target="_blank") 과홈페이지
                            a(href="/auth/signout") signout

        block content
        block footer
            .wrapper-footer
                .footer
                    label Copyright(C)2019 Steam All Rights Reserved.