extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="./auth/signin") Sign In
  a(href="./auth/signup") Sign Up
  a(href="./mypage") mypage
  a(href="./board") board
  input(type="button" value="logout")
