doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/index.css')
        link(rel='stylesheet', href='/stylesheets/header.css')
        link(href="https://fonts.googleapis.com/css?family=Noto+Sans|Ubuntu" rel="stylesheet")
    body
        block header
            .wrapper-header
                .header
                    a.home(href="/") Home
                    a.about(href="#") About
                    if isNotSignedIn
                        .auth#isNotloggedin
                            a(href="/auth/signin") Sign-In
                            a(href="/auth/signup") Sign-Up
                    if isSignedIn
                        .auth#loggedin
                            label #{username}님 환영합니다.
                            a(href="/mypage") My Page
                            a(href="/auth/signout") signout



        block content
        block footer