extend layout

block content
  form(method='post' action="./lostpw")
    legend Forgot Password
    .form-group
      if signError
        .error-message= '에러입니다'
      label(for='email') Email
      input.form-control(type='email', name='e_mail', autofocus)
    button.btn.btn-primary(type='submit') Reset Password
