extend signin-layout

block content
  img(src="/images/signin-bg.jpg")
  .wrapper-signin
    form.signin(method='POST' action='./reset')
      h2 Reset Password
      .password
        input(type='password' name='password' required autofocus)
        label New Password
      #reset.password
        input(type='password' name='confirm' required)
        label Confirm Password
      input(type='submit' value="Update Password")