doctype html
html
  head
    title Steam
    link(rel='stylesheet', href='/stylesheets/signin.css')
    link(href="https://fonts.googleapis.com/css?family=Noto+Sans|Ubuntu" rel="stylesheet")
  body
    block content
      img(src="/images/signin-bg.jpg")
      .wrapper-signin
        form.signin(method='POST')
          h2 Reset Password
          .password
            input(type='password' name='password' required autofocus)
            label New Password
          #reset.password
            input(type='password' name='confirm' required)
            label Confirm Password
          input(type='submit' value="Update Password")
