extends signup-layout

block content
    .wrapper-signup
        form#signup.signup(method="post" action="/auth/signup")
            h2 Sign Up
            label Username
            input(type="text" placeholder="Username" name="username" required)
            label Password
            input#password(type="password" placeholder="User Password" name="password" required)
            label Confirm Password
            input(type="password" placeholder="Confirm Password" name="password-cf" required)
            label Name
            input(type="text" placeholder="name" name="name" required)
            label e-mail
            input(type="email" placeholder="email" name="email" required)
            input(type="submit" value="Register")
        .signup-side
            img(src="/images/index-logo.png")
            p Welcome to Steam