extends signin-layout

block content
  img(src="/images/signin-bg.jpg")

  .wrapper-signin
    form#signin.signin(method="post" action="/auth/signin")
      h2.signin-logo Steam
      .userid
        input(type="text" name="client_id" required)
        label Username
      .password
        input(type="password" name="client_pw" required)
        label Password
      a.lost-pw(href="./lostpw") forget your password?
      if loginError
        .error-message= loginError
      input(type="submit" value="Sign In")

    span.signin-signup Don't have an account?
      a(href="./signup") Sign Up