doctype html
html
    head
        title Steam
        link(rel='stylesheet', href='/stylesheets/signin.css')
        link(href="https://fonts.googleapis.com/css?family=Noto+Sans|Ubuntu" rel="stylesheet")
    body
        block content