extends signin-layout

block content
  img(src="/images/signin-bg.jpg")
  .wrapper-signin
    form.signin(action="/..")
      h2.signin-logo Steam
      .userid
        input(type="text" name="" required="")
        label Username
      .password
        input(type="password" name="" required="")
        label Password
      a.lost-pw(href="#") forget your password?
      input(type="submit" value="Sign In")

    span.signin-signup Don't have an account?
      a(href="./signup") Sign Up
