doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/signup.css')
        link(rel='stylesheet', href='/stylesheets/header.css')
        link(rel='stylesheet', href='/stylesheets/footer.css')
        link(href="https://fonts.googleapis.com/css?family=Noto+Sans|Ubuntu" rel="stylesheet")

    body
        block header
            .wrapper-header
                .header
                    a.home(href="/") Home
                    a.about(href="#") About
                    .auth
                        a(href="./signin") Sign-In
                        a(href="./signup") Sign-Up
        block content
        block footer
            .wrapper-footer
                .footer
                    label Copyright(C)2019 Steam All Rights Reserved.