extends signup-layout

block content
    .wrapper-signup
        form#signup.signup(method="post" action="/auth/signup")
            h2 Sign Up
            label Username
            input#username(type="text" placeholder="Username" name="client_id" required)
            if signError
                .error-message= signError
            label Password
            input#password(type="password" placeholder="User Password" name="client_pw" required)
            label Confirm Password
            input(type="password" placeholder="Confirm Password" name="client_pw_cf" required)
            label Name
            input(type="text" placeholder="name" name="name" required)
            label e-mail
            input(type="email" placeholder="email" name="e_mail" required)
            input(type="submit" value="Register")
        .signup-side
            img(src="/images/index-logo.png")
            p Welcome to Steam