extends layout

block content
    form
        input(type="text" placeholder="User Id")
        input(type="password" placeholder="User Password")
        input(type="password" placeholder="Confirm Password")
        input(type="text" placeholder="name")
        input(type="email" placeholder="email")
        input(type="submit")
