extends layout

block content
  .wrapper-signin
    form
      h2.signin-logo Sign-In
      span.signin-userid User ID
      input(type="text" placeholder="User ")
      span.signin-password Password
      input(type="password" placeholder="User Password")
      input(type="submit")
