doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/signup.css')
        link(rel='stylesheet', href='/stylesheets/header.css')
        link(href="https://fonts.googleapis.com/css?family=Noto+Sans|Ubuntu" rel="stylesheet")
    body
        block header
            .wrapper-header
                .header
                    a.home(href="/") Home
                    a.about(href="#") About
                    .auth
                        a(href="./auth/signin") Sign-In
                        a(href="./auth/signup") Sign-Up
        block content
        block footer