extends write-layout

block content
    .wrapper-write
        label Write
        form.write(method="post" action="./write")
            input.title(type="text" name="title" placeholder="Title" required)
            textarea.descript(name="Description" contenteditable="true")
            input.submit(type="submit")
