extends write-layout

block content
    .wrapper-write
        label Write
        form.write(method="post" action="./write")
            input.title(type="text" name="title" placeholder="Title" required)
            textarea.descript(name="description" contenteditable="true")
            select.category(name="category")
                option(value=2) 자유게시판
                option(value=1) 대학게시판
            input.submit(type="submit")
