@import "style.css";
@import "hamburger.css";
/* Menu */
.container-menu{
    background-color: #2F5597;
    text-align: center;
    height: 80px;
}
    /* logo */
    .index-logo{
        color: #fff;
        text-align: left;
        display: inline-block;
    }
    .index-logo img{
        margin: 0;
        width: 4rem;
        position: relative;
        top: 10px;
        left: -111px;
        transition-property: top;
        transition-duration: .5s;
    }
    .index-logo .title{
        font-size: 2.5rem;
        position: relative;
        top: -55px;
        left: -37px;
        transition-property: top;
        transition-duration: .5s;
    }
    .index-logo p{
        font-size: 1rem;
        position: relative;
        top: -62px;
        left: -29.5px;
        transition-property: top;
        transition-duration: .5s;
    }
.wrapper-menu{
    margin: 0 auto;
    width: 1000px;
    display: inline-block;
}
.menu{
    float: right;
    list-style: none;
    display: inline-block;
    /*height: 80px;*/
}
.menu li{
    float: left;
    height: 80px;
    overflow: hidden;
}
.menu li a{
    margin: 27px 0;
    display: inline-block;
    text-decoration: none;
    width: 135px;
    height: 26px;
    border-right : 2px solid #fff;
    line-height: 26px;
    color: #fff;
    font-size: 1rem;
    transition: .3s;
}
.menu li:last-child a{
    border-right: none;
}
.menu li a:hover{
    font-size: 1.1rem;
}
.menu li a:before{
    content: '';
    position: absolute;
    display: block;
    width: 87px;
    height: 10px;
    margin: 0 auto;
    transform: translate(25px, 47px) scaleX(0);
    background-color: #fff;
    transition: ease .3s;
}
.menu li a:hover:before{
    transform: translate(25px, 47px) scaleX(1);
}

/* Article */
.wrapper-article{

}

.article{
    margin: 0 auto;
    display: block;
    width: 1000px;
    min-height: 300px;
    background-color: #fff;
    border-spacing: 0px;
    box-shadow: 0 0 11px 2px rgba(80,80,80,.2);
}
.article .title{
    margin: 20px;
    padding-left: 20px;
    border-left: 5px solid black;
    display: inline-block;
    font-size: 1.7rem;
    width: 935px;
}
.article .info{
    padding-right: 20px;
    float: right;
}
.article .info p{
    display: inline-block;
    padding: 10px;
}
.article .descript{
    margin: 0 20px ;
    padding: 35px 15px;
    font-size: 1.15rem;
    border-top: 1px dashed darkgray;
    line-height: 2rem;
}
/* disqus */
#disqus_thread{
    max-width: 1000px !important;
    display: block;
    margin: 0 auto;
}
@media (max-width: 1000px){
    .wrapper-menu .menu{
        display: none;
    }
    .board{
        width: 100%;
    }
}
@media (max-width: 1000px) and (min-width: 640px) {
    /* Index logo */
    .index-logo img{
        top: 10px;
        left: -411px;
    }
    .index-logo .title{
        top: -55px;
        left: -337px;
    }
    .index-logo p{
        top: -62px;
        left: -329.5px;
    }
}
@media (max-width: 640px){
    /* Index logo */
    .index-logo img{
        top: -30px;
        left: -411px;
    }
    .index-logo .title{
        top: -95px;
        left: -337px;
    }
    .index-logo p{
        top: -102px;
        left: -329.5px;
    }
}
@media only handheld,(max-device-width: 1000px) {
    body{
        font-size: 1.7rem;
    }
    .index-logo{
        height: 0;
    }
    /* Index logo */
    .index-logo img{
        width: 8rem;
        top: -26px;
        left: -359px;
    }
    .index-logo .title{
        font-size: 5rem;
        top: -157px;
        left: -220px;
    }
    .index-logo p{
        font-size: 2rem;
        top: -170px;
        left: -205px;
    }
    .container-menu{
        height: 150px;
    }
    .wrapper-menu{
        height: 0;
        width: 100%;
    }
    .article{
        width: 100%;
    }
    .article .title{
        font-size: 3rem;
    }
    .article .title{
        width: 90%;
    }
    .article .descript{
        font-size: 2rem;
    }
}