.wrapper-header{
    background-color: #fff;
    width: 100%;
    height: 40px;
    transition: .5s;
}
.header{
    margin: 0 auto;
    width: 1000px;
    transition-property: width, transform;
    transition-duration: .5s;
}
.header a{
    line-height: 40px;
}
.home{
    margin: 0 20px;
}
.auth{
    display: inline-block;
    float: right;
}
.auth a{
    margin-right: 20px;
}
.auth label{
    display: inline-block;
    position: relative;
    transform: translateX(-20px);
}
@media (max-width: 1000px) and (min-width: 640px) {
    .header{
        width: 640px;
    }
}
@media (max-width: 640px){
    .wrapper-header{
        height: 0;
    }
    .header{
        transform: translateY(-40px);
        width: 640px;
    }
}
@media handheld, (max-device-width: 1000px){
    .wrapper-header{
        height: 0;
        display: none;
    }
    .header{
        transform: translateY(-40px);
        width: 640px;
    }
}