@import "style.css";
@import "hamburger.css";
/* index-logo */
.index-logo{
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
    flex-direction: column;
    height: 500px;
    transform-style: inherit;
    background-image: url("/images/index-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.index-logo h1{
    font-size: 5rem;
}
.index-logo p{
    font-size: 1.5rem;
}
/*section-list*/
.section-list{
    height: auto;
    text-align: center;
    background-color: snow;
}
.section-list:nth-child(2n){
    background-color: #ebebe3;
    color: #262626;
}
.section-list h2{
    display: inline-block;
    margin: 30px;
    font-size: 2.5rem;
}
.section-list ul{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: space-around;
            justify-content: space-around;
}
.section-list ul li{
    list-style: none;
    -webkit-flex: 1 1 0;
}
.section-list ul li a{
    text-decoration: none;
}
.section-list .item{
    display: grid;
    grid-template-rows: 60% 20% 10% 10%;
    align-items: center;
    margin: 15px auto;
    width: 250px;
    height: 300px;
    border: 1px solid #555355;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #fff;
}
.section-list .item span{
    display: block;
    margin: 0 10px;
    color: #262626;
}
.section-list .item .image{
    margin : 0;
    width: 100%;
    height: 100%;
    background-color: #979797;
}
.section-list .item .item-title{
    font-size: 1.3rem;
    font-weight: bold;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.section-list:nth-child(2n) .item{
    background-color: #f4f3f3;
}
.section-list:nth-child(2n) .read-more{
    color: #262626;
}
.section-list .read-more{
    margin: 20px;
    display: inline-block;
}